.gallery {
    padding: 4rem 0;

    &__title {
        font-weight: 600;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__thumb {
        margin-right: 1rem;
        cursor: pointer;

        img {
            display: block;
            width: 100%;
        }
    }

    &__image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 350px;
        padding: 1rem;

        img {
            width: 100%;
        }
    }
}
