.hero-carousel {
    position: relative;

    &__overlay-content {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1000px;
        width: 100%;
        padding: 2rem;
    }

    &__sub-title {
        text-transform: uppercase;
        text-align: center;
        font-size: 0.7rem;
        letter-spacing: 3px;
        color: $white;
        margin-bottom: 0.5rem;

        @include media-breakpoint-up(lg){
            font-size: 0.8rem;
        }
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        color: $white;
        margin-bottom: 1rem;

        @include media-breakpoint-up(sm){
            font-size: 2.5rem;
        }

        @include media-breakpoint-up(lg){
            font-size: 3.25rem;
        }
    }

    &__image {
        width: 100%;
        min-height: 600px;
        object-fit: cover;

        @include media-breakpoint-up(lg){
            min-height: 850px;
        }
    }
}

// ----- Indicator ----- //

.hero-carousel .carousel.carousel-slider {
    .control-dots {
        .dot {
            border-radius: 15px;
            width: 50px;
            height: 5px;
            box-shadow: none;
            opacity: 1;

            &.selected {
                background-color: $tacha;
            }
        }
    }
}
