.modal {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($black, 0.8);

    &__close {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 2rem;
        color: $white;
        cursor: pointer;
    }

    &__inner {
        position: relative;
    }
}
