.navigation {
    position: fixed;
    z-index: 10;
    width: 100%;
    transition: all 0.2s ease;

    &.active {
        background-color: $mineshaft;

        .navigation__inner {
            padding: 1rem 0;
            border-bottom: 1px solid transparent;
        }
    }

    &__inner {
        border-bottom: 1px solid rgba($white, 0.5);
        padding: 1rem 0;
        transition: all 0.2s ease;

        @include media-breakpoint-up(lg){
            padding: 2rem 0;
        }
    }

    &__list {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $mineshaft;
        padding: 2rem;
        margin: 0;
        list-style: none;
        height: 0;
        opacity: 0;
        pointer-events: none;
        transition: all 0.3s ease;

        &.active {
            height: 100%;
            opacity: 1;
            pointer-events: all;
        }

        @include media-breakpoint-up(lg){
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            flex-direction: row;
            justify-content: space-between;
            height: auto;
            opacity: 1;
            background-color: transparent;
            padding: 0;
            pointer-events: all;
        }
    }

    &__item {
        width: 100%;

        @include media-breakpoint-up(lg){
            width: auto;
        }
    }

    &__link {
        display: block;
        text-align: center;
        font-size: 0.8rem;
        text-transform: uppercase;
        color: $white;
        letter-spacing: 2px;
        transition: color 0.2s ease;
        padding: 0.5rem;

        &:hover {
            text-decoration: none;
            color: $tacha;
        }

        @include media-breakpoint-up(lg){
            padding: 0;
        }
    }

    &__logo {
        margin-bottom: 2rem;
        order: -1;

        @include media-breakpoint-up(lg){
            margin: 0 4rem;
            order: 0;
        }
    }

    &__social {
        order: 1;

        @include media-breakpoint-up(lg){
            order: 0;
        }

        a {
            color: $white;
            transition: color 0.2s ease;

            &:not(:last-of-type){
                margin-right: 0.5rem;
            }

            &:hover {
                color: $tacha;
            }

            svg {
                width: 18px;
                height: 18px;
            }
        }
    }

    &__button {
        margin: 1.5rem 0;

        @include media-breakpoint-up(lg){
            margin: 0;
        }

        a {
            color: $white;
            letter-spacing: 2px;
        }

        svg {
            width: 16px;
        }
    }

    &__mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include media-breakpoint-up(lg){
            display: none;
        }
    }

    &__burger {
        position: absolute;
        top: 50%;
        z-index: 1;
        right: 0;
        padding: 1rem;
        transform: translateY(-50%);

        @include media-breakpoint-up(lg){
            display: none;
        }
    }

    &__burger-outer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 32px;
        margin-bottom: 0.25rem;

        &.active {
            .navigation__burger-inner {
                background-color: transparent;

                &:before {
                    top: auto;
                    transform: rotate(-45deg);
                }

                &:after {
                    bottom: auto;
                    transform: rotate(45deg);
                }
            }

        }
    }

    &__burger-inner {
        position: relative;
        background-color: $white;
        width: 30px;
        height: 2px;
        transition: background-color 0.1s ease;

        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: $white;
            transition: transform 0.1s ease;
        }

        &:before {
            top: -8px;
        }

        &:after {
            bottom: -8px;
        }

    }
}
