.reviews {
    background-color: $gallery;
    padding: 6rem 0;

    &__inner {
        position: relative;
    }

    &__sub-title {
        font-size: 0.8rem;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        color: $tacha;
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        max-width: 600px;
        margin: 0 auto 2rem;
    }

    &__carousel {
        .carousel .slide {
            background-color: transparent;
        }
    }

    &__carousel-slide {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 4rem;

        p {
            line-height: 1.8;
        }
    }

    &__carousel-prev-button,
    &__carousel-next-button {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        background-color: transparent;

        svg {
            width: 20px;
            color: $tacha;

            @include media-breakpoint-up(lg){
                width: 30px;
            }
        }
    }

    &__carousel-prev-button {
        left: 0;
    }

    &__carousel-next-button {
        right: 0;
    }
}
