.split-driver {
    display: flex;
    flex-direction: column;
    margin: 0.1rem 0;

    @include media-breakpoint-up(lg){
        flex-direction: row;
    }

    &__image {
        flex: 1 0 50%;
        order: 1;

        @include media-breakpoint-up(lg){
            order: 0;
            min-height: 700px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
    }

    &__body {
        max-width: 700px;
    }

    &__sub-title {
        font-size: 0.8rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: $tacha;
        margin-bottom: 0.5rem;
    }

    &__title {
        font-size: 2rem;
        font-weight: 600;

        @include media-breakpoint-up(lg){
            font-size: 3rem;
        }
    }

    &__copy {
        line-height: 1.8;
    }
}
